/* You can add global styles to this file, and also import other style files */

body {
    background-color: black;
    color: white !important;
}

hr {
    border-color: white;
}

.puntero {
    cursor: pointer;
}

.img-circle {
    border-radius: 100%;
    width: 150px;
}


/* CARDS  */

.card{
    background-color: rgba(34, 34, 34, 0.267);
    border-color: #272727;
}

.card-title,
.card-text {
    color: white;
}

.badge {
    margin-left: 5px;
}

/* FIN CARDS */

/* BUSQUEDA */
#busqueda{
    background-color: #181818;
    color: #BDBDBD;
    border: #BDBDBD;
    border-bottom-right-radius: 18px;
    border-top-right-radius: 18px;
    border-bottom-left-radius: 18px;
    border-top-left-radius: 18px;
}
#busqueda:focus{
    background-color: #181818;
    color: #FFFFFF;
    border: #BDBDBD;
    border-bottom-right-radius: 18px;
    border-top-right-radius: 18px;
    border-bottom-left-radius: 18px;
    border-top-left-radius: 18px;
    box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075)inset, 0 0 8px #1db954fa;
}
/* FIN BUSQUEDA*/

.btn-outline-success {
    margin-left: 5px;
}

.img-thumb {
    width: 50px;
    height: 50px;
}


/* Barra de navegacion */

.navbar #navbarSupportedContent ul li a:hover {
    color: #1db954;
}

nav #navbarSupportedContent ul .active .nav-link {
    color: #1db954;
}

.navbar #navbarSupportedContent form {
    margin-right: 15px;
}

.navbar #navbarSupportedContent form input {
    background-color: #181818;
    color: #BDBDBD;
    border: #BDBDBD;
    border-bottom-right-radius: 18px;
    border-top-right-radius: 18px;
    border-bottom-left-radius: 18px;
    border-top-left-radius: 18px;
    width: 239px;
}

.navbar #navbarSupportedContent form input:focus {
    border-color: #1db954;
    box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075)inset, 0 0 8px #1db954fa;
    color: #FFFFFF;
    box-shadow: #1db954;
    width: 240px;
}

.navbar #navbarSupportedContent form .btn-spotify {
    background-color: #1db954;
    border-color: #181818;
    color: #fff;
    border-radius: 500px;
    padding: 6px 20px;
}

.navbar #navbarSupportedContent form .btn-spotify:hover {
    color: #1db954;
    border-color: #1db954;
    background-color: black;
    border-radius: 500px;
}

/*  Artista Component    */
.album{
    padding: 10px;
}
.img-rect{
    width: 100px;
}
.separador{
    border-color: #272727;
}
.canciones thead, tbody td{
    color: #ffffff;
}



/* Animaciones */

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fast {
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeIn {
    animation-name: fadeIn;
}